src/examples/mapplanv01/SchemaCommon/tEntitySpatial_v01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:EnSpa1="urn://x-artefacts-rosreestr-ru/commons/complex-types/entity-spatial/1.0.1"
           xmlns:SimAll1="urn://x-artefacts-rosreestr-ru/commons/simple-types-all/1.0"
           xmlns:Are1="urn://x-artefacts-rosreestr-ru/commons/complex-types/area/1.0.1"
           xmlns:dGeO1="urn://x-artefacts-rosreestr-ru/commons/directories/geopoint-opred/1.0.1"
           xmlns:dTopo1="urn://x-artefacts-rosreestr-ru/commons/directories/type-topology/1.0.1"
           targetNamespace="urn://x-artefacts-rosreestr-ru/commons/complex-types/entity-spatial/1.0.1"
           elementFormDefault="qualified">
    <!--ПРОСТЫЕ ТИПЫ ДАННЫХ:-->
    <xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/simple-types-all/1.0"
               schemaLocation="P_CommonSimpleTypeAll_v01.xsd"/>
    <!--СОСТАВНЫЕ ТИПЫ ДАННЫХ:-->
    <!--Площадь-->
    <xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/complex-types/area/1.0.1"
               schemaLocation="tArea_v01.xsd"/>
    <!--КЛАССИФИКАТОРЫ И СПРАВОЧНИКИ:-->
    <!--Методы определения координат характерных точек-->
    <xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/directories/geopoint-opred/1.0.1"
               schemaLocation="dGeopointOpred_v01.xsd"/>
    <!--Виды топологии элемента-->
    <xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/directories/type-topology/1.0.1"
               schemaLocation="dTypeTopology_v01.xsd"/>
    <!--===========Изменение:-->
    <!--Добавлен новый тип графического описания уточняемых границ-->
    <!--=====ВЕРСИЯ 1:-->
    <!--===Описание местоположения границ земельных участков-->
    <xs:complexType name="ZUContoursLocation">
        <xs:annotation>
            <xs:documentation>Описание местоположения границы земельного участка (характерных точек границы и участков
                границы от точки до точки)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contours" type="EnSpa1:Contours">
                <xs:annotation>
                    <xs:documentation>Контуры (контур) границы (координаты характерных точек границы) земельного
                        участка
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="borders" type="EnSpa1:Borders" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Текстовое описание участков границы от точки до точки</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contours">
        <xs:annotation>
            <xs:documentation>Контуры (контур) границы (координаты характерных точек границы)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contour" type="EnSpa1:Contour" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Контур границы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contour">
        <xs:annotation>
            <xs:documentation>Описание контура границы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="number_pp" type="SimAll1:p10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Учетный (порядковый) номер контура</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="definition" type="SimAll1:s50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Обозначение контура</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area" type="Are1:LandAreaType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Площадь контура</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="entity_spatial" type="EnSpa1:EntitySpatial">
                <xs:annotation>
                    <xs:documentation>Описание элементов контура (характерных точек границы контура)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--===Описание местоположения границ территорий, зон, объектов землеустройства-->
    <xs:complexType name="BoundContoursLocation">
        <xs:annotation>
            <xs:documentation>Текстовое и графическое описание местоположения</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contours" type="EnSpa1:ContoursBoundaries">
                <xs:annotation>
                    <xs:documentation>Контуры (контур) (координаты характерных точек контура)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="borders" type="EnSpa1:Borders" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Текстовое описание местоположения (описание прохождения границ, расположенных
                        между двумя точками)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location_text" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Текстовое описание местоположения границы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BoundContours">
        <xs:annotation>
            <xs:documentation>Графическое описание местоположения границы (характерных точек границы)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contours" type="EnSpa1:ContoursBoundaries">
                <xs:annotation>
                    <xs:documentation>Контуры (контур) (координаты характерных точек контура)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContoursBoundaries">
        <xs:annotation>
            <xs:documentation>Контуры (контур) (координаты характерных точек контура)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contour" type="EnSpa1:ContourBoundaries" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Контур (координаты характерных точек контура)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContourBoundaries">
        <xs:annotation>
            <xs:documentation>Описание контура границы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="number_pp" type="SimAll1:p10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Учетный (порядковый) номер контура границы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="definition" type="SimAll1:s50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Обозначение контура границы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="entity_spatial" type="EnSpa1:EntitySpatial">
                <xs:annotation>
                    <xs:documentation>Описание элементов контура (характерных точек контура)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BoundContoursLocationBorders">
        <xs:annotation>
            <xs:documentation>Текстовое и графическое описание местоположения (для ОЗ)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contours" type="EnSpa1:ContoursBoundaries">
                <xs:annotation>
                    <xs:documentation>Контуры (контур) (координаты характерных точек контура)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="borders" type="EnSpa1:Borders">
                <xs:annotation>
                    <xs:documentation>Текстовое описание местоположения (описание прохождения границ, расположенных
                        между двумя точками)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location_text" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Текстовое описание местоположения границы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--===Общие типы-->
    <xs:complexType name="EntitySpatial">
        <xs:annotation>
            <xs:documentation>Описание элементов контура (характерных точек контура)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sk_code" type="EnSpa1:sSk_Code">
                <xs:annotation>
                    <xs:documentation>Система координат (код системы координат)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="spatials_elements" type="EnSpa1:SpatialsElements">
                <xs:annotation>
                    <xs:documentation>Элементы контура</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpatialsElements">
        <xs:annotation>
            <xs:documentation>Элементы контура</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="spatial_element" type="EnSpa1:SpelementUnit" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Элемент контура</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpelementUnit">
        <xs:annotation>
            <xs:documentation>Часть элемента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type_unit" type="dTopo1:dTypeTopology">
                <xs:annotation>
                    <xs:documentation>Вид топологии элемента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ordinates" type="EnSpa1:Ordinates">
                <xs:annotation>
                    <xs:documentation>Список координат</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ordinates">
        <xs:annotation>
            <xs:documentation>Список координат</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ordinate" type="EnSpa1:NewOrdinate" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Координата</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ordinate">
        <xs:annotation>
            <xs:documentation>Координата</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="x" type="SimAll1:d38_2">
                <xs:annotation>
                    <xs:documentation>Координата X</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="y" type="SimAll1:d38_2">
                <xs:annotation>
                    <xs:documentation>Координата Y</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ord_nmb" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Номер точки (порядок обхода)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="num_geopoint" type="SimAll1:p22" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Номер точки (межевой точки)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geopoint_zacrep" type="SimAll1:s120" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Способ закрепления точки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geopoint_opred" type="dGeO1:dGeopointOpred" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Метод определения точки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="delta_geopoint" type="SimAll1:d20_2" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Погрешность</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Borders">
        <xs:annotation>
            <xs:documentation>Текстовое описание прохождения границ, расположенных между двумя точками
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="border" type="EnSpa1:Border" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Участок границы, расположенный между двумя точками</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Border">
        <xs:annotation>
            <xs:documentation>Участок границы, расположенный между двумя точками</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nmb_contour" type="SimAll1:p10">
                <xs:annotation>
                    <xs:documentation>Порядковый номер контура</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="spatial_element" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Порядковый номер элемента контура</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="point1" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Порядковый номер точки1 в элементе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="point2" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Порядковый номер точки2 в элементе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="definition" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Описание прохождения участка границы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--===Уточнение местоположения границ территорий, зон, объектов землеустройства-->
    <xs:complexType name="BoundContoursLocationOldNew">
        <xs:annotation>
            <xs:documentation>Текстовое и графическое описание местоположения (существующее/уточненное)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contours" type="EnSpa1:ContoursBoundariesOldNew">
                <xs:annotation>
                    <xs:documentation>Контуры (контур) (существующие, новые координаты характерных точек контура)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="borders" type="EnSpa1:BordersOldNew" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Текстовое описание местоположения (существующее/уточненное описание прохождения
                        границ, расположенных между двумя точками)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location_text" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Текстовое описание местоположения границы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BoundContoursOldNew">
        <xs:annotation>
            <xs:documentation>Графическое описание местоположения (существующее/уточненное)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contours" type="EnSpa1:ContoursBoundariesOldNew">
                <xs:annotation>
                    <xs:documentation>Контуры (контур) (существующие, новые координаты характерных точек контура)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContoursBoundariesOldNew">
        <xs:annotation>
            <xs:documentation>Контуры (контур) (существующие, новые координаты характерных точек контура)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contour" type="EnSpa1:ContourBoundariesOldNew" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Контур (существующие, новые координаты характерных точек контура)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContourBoundariesOldNew">
        <xs:annotation>
            <xs:documentation>Описание контура границы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="number_pp" type="SimAll1:p10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Учетный (порядковый) номер контура границы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="definition" type="SimAll1:s50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Обозначение контура границы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="entity_spatial" type="EnSpa1:EntitySpatialOldNew">
                <xs:annotation>
                    <xs:documentation>Описание элементов контура (характерных точек контура (существующих и новых))
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntitySpatialOldNew">
        <xs:annotation>
            <xs:documentation>Описание элементов контура (характерных точек контура (существующих и новых))
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sk_code" type="EnSpa1:sSk_Code">
                <xs:annotation>
                    <xs:documentation>Система координат (код системы координат)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="spatials_elements" type="EnSpa1:SpatialsElementsOldNew">
                <xs:annotation>
                    <xs:documentation>Элементы контура</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpatialsElementsOldNew">
        <xs:annotation>
            <xs:documentation>Элементы контура</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="spatial_element" type="EnSpa1:SpelementUnitOldNew" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Элемент контура</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpelementUnitOldNew">
        <xs:annotation>
            <xs:documentation>Часть элемента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type_unit" type="dTopo1:dTypeTopology">
                <xs:annotation>
                    <xs:documentation>Вид топологии элемента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ordinates" type="EnSpa1:OrdinatesOldNew">
                <xs:annotation>
                    <xs:documentation>Список координат</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrdinatesOldNew">
        <xs:annotation>
            <xs:documentation>Список координат (существующие, новые (уточненные) координаты)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ordinate" type="EnSpa1:OrdinateOldNew" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Координата (существующая, новая, уточненная (измененная) координата)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrdinateOldNew">
        <xs:annotation>
            <xs:documentation>Координата (существующая, новая, уточненная (измененная) координата)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="old_ordinate" type="EnSpa1:OldOrdinate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Существующая координата</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="new_ordinate" type="EnSpa1:NewOrdinate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Новая, уточненная (измененная) координата</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OldOrdinate">
        <xs:annotation>
            <xs:documentation>Существующая координата</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="x" type="SimAll1:d38_2">
                <xs:annotation>
                    <xs:documentation>Координата X</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="y" type="SimAll1:d38_2">
                <xs:annotation>
                    <xs:documentation>Координата Y</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ord_nmb" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Номер точки (порядок обхода)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="num_geopoint" type="SimAll1:p22" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Номер точки (межевой точки)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="delta_geopoint" type="SimAll1:d20_2" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Погрешность</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NewOrdinate">
        <xs:annotation>
            <xs:documentation>Новая, уточненная (измененная) координата</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="x" type="SimAll1:d38_2">
                <xs:annotation>
                    <xs:documentation>Координата X</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="y" type="SimAll1:d38_2">
                <xs:annotation>
                    <xs:documentation>Координата Y</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ord_nmb" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Номер точки (порядок обхода)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="num_geopoint" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Номер точки (межевой точки)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geopoint_zacrep" type="SimAll1:s120" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Способ закрепления точки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geopoint_opred" type="dGeO1:dGeopointOpred">
                <xs:annotation>
                    <xs:documentation>Метод определения точки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="delta_geopoint" type="SimAll1:d20_2">
                <xs:annotation>
                    <xs:documentation>Погрешность</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BordersOldNew">
        <xs:annotation>
            <xs:documentation>Текстовое описание прохождения границ, расположенных между двумя точками (существующее,
                уточненное)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="border" type="EnSpa1:BorderOldNew" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Участок границы, расположенный между двумя точками (в т.ч. уточненное описание
                        прохождения участка границы)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BorderOldNew">
        <xs:annotation>
            <xs:documentation>Участок границы, расположенный между двумя точками (в т.ч. уточненное описание прохождения
                участка границы)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nmb_contour" type="SimAll1:p10">
                <xs:annotation>
                    <xs:documentation>Порядковый номер контура</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="spatial_element" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Порядковый номер элемента контура</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="point1" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Порядковый номер точки1 в элементе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="point2" type="SimAll1:p22">
                <xs:annotation>
                    <xs:documentation>Порядковый номер точки2 в элементе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="definition" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Существующее описание прохождения участка границы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="new_definition" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Измененное (уточненное) описание прохождения участка границы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--===Код системы координат-->
    <xs:simpleType name="sSk_Code">
        <xs:annotation>
            <xs:documentation>Код системы координат (Маска: код субъекта и номер зоны, разделенные точкой)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
            <xs:pattern value="\d{2}\.\d{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
