src/examples/namespaces/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:example="http://my.example.com"
           targetNamespace="http://my.example.com"
           elementFormDefault="qualified">

    <xs:complexType name="MyType">
        <xs:sequence>
            <xs:element name="integerField" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="myThing" type="example:MyType"/>

</xs:schema>
